
body {
  margin: 0;
  background-color: #ebede9;
  background-image: url(./assets/images/totoro.jpg);
  background-size: 102%;
}
.navbar {
  background-color: #292520f5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;
  font-size: 18px;
}


.greeter {
  display: flex;
  align-items: center;
  background: 
  linear-gradient(rgba(119, 133, 110, 0.8), rgb(223, 214, 198)),
  url("./assets/images/princess-mononoke.jpg");
  background-size: 100%;
  background-position: center;
  padding: 5px 5px 5px 20px;
  height: 200px;
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0px 15px 15px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 16px 0 rgba(119, 133, 110, 0.8);
  border-style: none;
  border-radius: 8px;
  padding: 8px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 20px 20px;
  box-shadow: 0 0 16px 0 rgba(119, 133, 110, 0.8);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
}

.todo-item {
  padding-left: 15px;
  display: flex;
  border-bottom: 1px solid #cecece;
}

.jokes {
  margin: 20px;
  margin-top: 30px;
  padding: 10px 10px 0px 20px;
  box-shadow: 0 0 16px 0 rgba(119, 133, 110, .8);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
}



footer {
  background-color: #292520f8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 40px;
  font-size: 15px;
  width: 100%;
  position: absolute; 
  bottom: 0; 
  padding: 1.5%
}

br {
  padding: 0px;
}

